@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap');

body{
    background-color: rgba(24, 54, 81, 0.963);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-family:'Poppins',sans-serif;
}

.app{
    width: 400px;
    padding: 25px;
    color: #e5e5e5;
    border-radius: 10px;
    box-shadow: 4px 4px 15px 0px rgba(0,0,0,0.2);
    background: linear-gradient(108deg,#0a185748,#6b0b0b38);
    transition: all 2s ease-in-out;
}
.app h1{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}
.input-wrapper{
    display: flex;
}
.input-wrapper input{
    width: 100%;
    padding: 5px 10px;
    height: 30px;
    font-size: 14px;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.input-wrapper input:focus{
    outline: none;
}
.input-wrapper > button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: #fff;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    width: 80px;
}
.clear-button {
    padding: 6px 10px;
    color: #000000!important;
    background: #ffffff!important;
    cursor: pointer;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(262deg,rgba(0,0,0,0.1),rgba(0,0,0,0.4)) ;
    margin-top: 10px;
    border-radius: 10px;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-c{
    flex-direction: column;
}
.location{margin-top: 20px;}
.location h2{
    margin: 0 0 0 10px;
    font-weight: 300;
}
.location h2 span{
    font-size: 14px;
}
.datetext{
    font-size: 14px;
}
.weatherdesc h3{
    margin: 0;
    text-transform: capitalize;
    font-weight: 400;
}
.tempstats{
    width: 100%;
    padding: 20px 0px;
}
.tempstats h1{
    font-size: 64px;
    font-weight: 200;
    margin: 0;
}
.tempstats h1 span{
    font-size: 38px;
}
.tempstats h3{
    font-weight: 400;
}
.windstats{
    padding: 0px 20px;
    background:rgba(0, 0, 0, 0.461);
    margin-bottom: 20px;
    border-radius: 10px;
}
.windstats h3{
    margin-left: 10px;
    font-weight: 400;
}

.convertemp , .currentLocationBtn{
    padding: 15px 25px;
    font-size: medium;
    background: #15193dd6;
    color: floralwhite;
    overflow: hidden;
    border: none;
    cursor: pointer;
}
.convertemp:hover , .currentLocationBtn:hover{
    background: #070c38;

}

.bounce-toast {
    transition: bounce 0.5s;
}

@keyframes bounce {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(0%);
    }
}
